body {
    margin: 0;
    background-image: url(heisenberg.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    color: orange;
    font-family: monospace;
}
#myForm {
    text-align: center;
    font-size: 3em;
}
input {
    font-size: 1em;
}
select {
    font-size: 1em;
}
textarea {
    font-size: 0.5em;
}
